/* visaTaxes.com */

		

/* global */

	div, h1, h2, h3, h4, p, ul, ol, li, form, fieldset, table, td, th {
		margin:0;
		padding:0;
		}
	table.datatable {
      width: 700px;
      border-width: 1px;
      border-color: #dddddd;
	  border-collapse:collapse;
    }
    table.datatable td {
      padding: 5px;
      vertical-align: top;
    }
	table.datatable th {
	background-color: #e5ecf9
	}
	.alignleft{
	text-align:left;
	}
	.alignright{
	text-align:right;
	}
	div.nbcircle{
	font-size:16px;
	font-weight:bold;
	float:left;
	}
	div.box {
	border: 1px solid #C3D9FF;
	padding:3px;
	margin:3px;
	width:300px;
	}
	
	img.circle {
	vertical-align:middle; 
	margin-right: 8px;
	}
	
	div.sblock {
	border: 2px solid #CBDCED;
	padding: 4px;
	}
	div.box div.subbox{
	background-color:#E8EEFA;
	padding:6px;
	}
	div.box div.subbox h1{
		font-size:1.3em;
		}
		
	ul{
		list-style:none;
		}
		
	html {
		font-size: 62.5%;
		}
	
	body {
		font-family:  Arial, Helvetica, sans-serif;
		font-size:1.2em;
		margin:0;
		padding:.5em 1.5em 1.5em 1.5em;
		min-width:730px;
		background:#FFF;
		}		
		
	h1{
		font-size:1.5em;
		}		
	h2{
		font-size:1.5em;
		}	
	h2.l2 {
		background:#E5ECF9 none repeat scroll 0%;
		border-bottom:1px solid #3A7BCB;
		color:#000000;
		font-size:105%;
		font-weight:bold;
		padding:4px;
		vertical-align:middle;
		width:100%;
		margin-bottom: 1em;
		}
	.tablediv{
	width:700px;
	}	
	.more{
	text-align:right;
	}
	.howelem{
	font-size:14px;
	}
	h3{
		font-size:1.2em;
		}
		
		
	h4{
		font-size:1.1em;
		}
		
	.highlight {
		background-color:#E5ECF9;
		border:1px solid #3366CC;
		margin:1em 0pt 1em 25px;
		padding:0.6em;
		font-size: 1.2em;
		/*font-weight: bold;*/
		text-align: center;
		}	

	.main1{
		font-size:1.2em;
		font-weight:bold;
		}

	.floatl {
	float: left;
	}		
	.floatr {
	float: right;
	}
	.clear{
		clear:both;
		}
		
	.divider{
		clear:both;
		width:100%;
		margin:15px 0;
		border-bottom:1px solid #eee;
		}

		
	
	.u{
		color:#767676;
		}
		
	.u a:link, .u a:active, .u a:visited{
		color:#59d;
		}
		
	a:link, a:visited{
		color:#06c;
		}
		
	a:hover{
		color:#c60;
		}
		
	a{
		outline:none;
		}
		

		

/* header */
	
	div#header {
		min-height:65px;
		}

	div#logo{
		float: left;
		height:60px;
		font-size:2.2em;
	}
	
div#logo1{
		float: right;
		height:20px;
		font-size:0.8em;
	}
	
	div#slogan{

		font-size:0.5em;
		font-family:Arial,sans-serif;
		font-weight:bold;
		color:#999999;
	}

		
	div#header ul {
		float:right;
		}
	
	div#header li {
		display: inline;
		padding-left:6px;
		}

	
		
/* navigation */

	div#navigation ul{
		clear:both;
		background:url(../imgs/navbar_bg.png);
		float: left;
		width: 100%;
		}
	
 	div#navigation li{
		float:left;
		border-right:1px solid #5599dd;
		position:relative;
		}

 	div#navigation li a{
		display:block;
		padding:5px 15px 5px 15px;
		color: #fff;
		font-weight:bold;
		position:relative;
		text-decoration:none;
		}
		


	.selected, div#navigation li.selected a:hover, div#navigation li.selected:hover{
		background:url(../imgs/navbar_bg2.png);
		font-weight:bold;
		}
		
	div#navigation li a:hover, div#navigation li:hover{
		background:url(../imgs/navbar_bg3.png);
		}


	/*secondary nav*/
	div#nav2{
		clear:left;
		padding:2px 2px 2px 15px;
		background:#eaf3fd;
		border-bottom:1px solid #c6dff9;
		}
		
	div#nav2 h2{
		margin:6px 6px 6px 0;
		}
		
	div#nav2 ul{
		padding-top:4px;
		}
	
	div#nav2 li{
		display: inline;
		padding: 5px 15px 2px 15px;
		}
		
	div#nav2 .selected{
		background:#FFFFFF;
		padding:5px 15px 2px 15px;
		border: 1px solid #c6dff9;
		border-bottom-color:#FFFFFF;
		font-weight:bold;
		}


/* content - general */

	div#content{
		padding:20px 30px;
		font-size: 1.2em;
		
		}
		
	div#content p{
		padding-bottom:1.5em;
		}

	.overflow {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	
	* html .overflow { /* ie6 */
		position: absolute;
		width: 100%;
	}
	
	*+html .overflow { /* ie7 */
		float: left;
	}
		
		
/* content - wizard type */



/* footer */

	#footer {
		clear:both;
		margin: 2em 0 0 0;
		padding: 2px 0 0 0;
		text-align:center;
		color: #999;
		border-top:3px solid #5599dd;
		}
		
	#footer p{
		font-size:0.9em;
		padding:2px;
		}



/* Additional CSS */
#menucase2{
 width: 200px;
 position:absolute !important;
 position:relative;
 margin: 20px 0 0 0 !important;
 margin: 5px 0 0 0;
 float:left;}

#menucase2 ul{
 border:1px solid #348ce3;
 border-bottom:none;}

#menucase2 li a{
 display:block;
 width: 180px;
 font-size:12px;
 font-weight:bold;
 background:url(../img/bg_leftnav.gif) repeat-x top left;
 color:#FFF !important;
 border-bottom:1px solid #348ce3;
 text-decoration:none !important;
 padding: 5px 10px;}

#menucase2 li a:hover{
 background-position: 0 bottom !important;}

#menucase2 li a.current{
 background-position: 0 -50px !important;}

#article-list{
 float:left;
 margin: 0 0 30px 240px !important;
 margin: 0 0 30px 40px ;}

#article-list ul li{
 padding: 0 0 15px 0;
 line-height:1.5em;}